<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <nav style="background: #222; padding: 1em;">
  <ul style="list-style: none; display: flex; gap: 1.5em; justify-content: center; margin: 0; padding: 0;">
    <li><a href="/Teaching-English-C-x-/" style="color: #fff; text-decoration: none;">Home</a></li>
    <li><a href="/Teaching-English-C-x-/modules/" style="color: #fff; text-decoration: none;">Modules</a></li>
    <li><a href="/Teaching-English-C-x-/resources/" style="color: #fff; text-decoration: none;">Resources</a></li>
    <li><a href="/Teaching-English-C-x-/about.md" style="color: #fff; text-decoration: none;">About Me</a></li>
    <li><a href="/Teaching-English-C-x-/educator-blog.html" style="color: #fff; text-decoration: none;">Educator Blog</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdU05wDy1l6EdJxO99UQ4jCvYn35QcMWsGZKb62c8OkskCNig/viewform?usp=header" style="color: #fff; text-decoration: none;">Submit</a></li>
  </ul>
</nav>
    {{ content }}
  </body>
</html>
